@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ReflectionIT.Mvc.Paging.PagingList<PessoasInfo.ViewModels.Detalhe.DetalheIndexViewModel>

<h3 class="text-decoration-underline fst-italic">Registros Tabela Detalhes</h3>
<br/>

<nav aria-label="Detalhes navigation example">
    @await Component.InvokeAsync("Pager", new { pagingList = Model })
</nav>

<form asp-action="PagedIndex" method="get">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>
                @Html.DisplayName("Id Detalhe")
            </th>
            <th>
                @Html.DisplayName("Detalhe Texto")
            </th>
            <th>
                Opções
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdDetalhe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DetalheTexto)
                </td>
                <td>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.IdDetalhe">Deletar</a>
                    <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@item.IdDetalhe">Detalhes</a>
                    <a class="btn btn-sm btn-success" asp-action="Edit" asp-route-id="@item.IdDetalhe">Editar</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</form>