@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ReflectionIT.Mvc.Paging.PagingList<PessoasInfo.ViewModels.Detalhe.DetalheIndexViewModel>

<h3 class="text-decoration-underline fst-italic">Registros Tabela Detalhes</h3>
<br/>

<nav aria-label="Detalhes navigation example">
    @await Component.InvokeAsync("Pager", new { pagingList = Model })
</nav>

<form asp-action="PagedIndex" method="get">
    <div>
        Buscar por um Detalhe: <input type="text" name="searchString" value="@ViewBag.CurrentFilter"/>
        <input class="btn btn-success btn-sm" type="submit" value="Pesquisar"/>
        <a class="btn btn-light btn-sm border" asp-action="PagedIndex">Limpar Filtro</a>
    </div>
    <h4></h4>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>
                <a id="idLink" class="text-black" asp-action="PagedIndex" asp-route-sortOrder="@ViewBag.IdSortParam">@Html.DisplayName("Id Detalhe")</a>
            </th>
            <th>
                <a id="detalheLink" class="text-black" asp-action="PagedIndex" asp-route-sortOrder="@ViewBag.DetalheSortParam">@Html.DisplayName("Detalhe Texto")</a>
            </th>
            <th>
                Opções
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdDetalhe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DetalheTexto)
                </td>
                <td>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.IdDetalhe">Deletar</a>
                    <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@item.IdDetalhe">Detalhes</a>
                    <a class="btn btn-sm btn-success" asp-action="Edit" asp-route-id="@item.IdDetalhe">Editar</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</form>