@using Microsoft.EntityFrameworkCore.Diagnostics
@model IEnumerable<PessoasInfo.ViewModels.Telefone.TelefoneIndexlViewModel>

<h3 class="text-success">@Model.Count()</h3>
<br/>

<form asp-action="Index" method="get">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.IdTelefone)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.TelefoneTexto)
            </td>
            <td>
                @Html.DisplayName("Ativo?")
            </td>
            <td>
                Opções
            </td>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdTelefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TelefoneTexto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                @* <a asp-action="Delete" asp-route-id="@item.IdTelefone">Deletar</a> *@
                @* <a asp-action="Details" asp-route-id="@item.IdTelefone">Detalhes</a> *@
                @* <a asp-action="Edit" asp-route-id="@item.IdTelefone">Editar</a> *@
            </tr>
        }
        </tbody>
    </table>
</form>