@model IEnumerable<PessoasInfo.ViewModels.Pessoa.PessoaIndexViewModel>

<h3 class="text-success">Top 20 Registros Tabela Pessoas</h3>

<br/>

<form asp-action="Index" method="get">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>
                @Html.DisplayName("Id")
            </th>
            <th>
                @Html.DisplayName("Nome")
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPessoa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.IdPessoa">Delete</a> 
                </td>
            </tr>
        }
        </tbody>
    </table>
</form>